// Set your colors
$primary: #4ea1d3;
$secondary: #1c6fa1;
$tertiary: #ffd255;
$quaternary: #1abc9c;

$text: #fdfdfd;
$text-invert: #212121;

$light: #393b48;
$dark: #23242b;
$darker: #1a1c20;

// Misc
$danger: #ec6161;
$warning: #ffd255;
$info: #3498db;
$success: #2ecc71;

// Set default variables
$body-background-color: $dark;
$family-primary: 'Raleway', 'Roboto', sans-serif;
$family-secondary: 'Open Sans', 'Lato', sans-serif;
